.layout-background{
	background-color: #8CADC5;
}

.add-btn {
    background-image: url('/img/addidea.png')  !important;
    background-color: transparent !important;
    background-size: 100%;  
    border: none !important;
    width:30px;
    height:30px;
    margin-top: 8px;
}

.add-btn:hover {
    background-image: url('/img/addideainverse.png') !important;
    background-color: transparent !important;
    background-size: 100%;  
    border: none !important;
    width:30px;
    height:30px;
    margin-top: 8px;
}

.notify-btn{
    background-image: url('/img/bell.png') !important;
    background-color: transparent !important;
    border: none !important;
    background-size: 100%;  
    width:10px !important;
    height:10px !important;
    margin-top: 8px;
}

.notify-count{
    background-color: red !important;
}

#notifications-menu {
    height: 300px;
    overflow: auto;
    width: 450px;
    border-radius:10px;
    padding-top:0;
}