body {
	background-color: #B7C9D3;
}

#heading-colour{
    background-color: #002145;
}

.heading-text-color{
	color:#ffffff;
}

.management-btn{
    margin-top: 8px;
    border:none;
    background-color: #002145;
}

.add-btn {
    background-image: url('/img/addideainverse.png')  !important;
    background-color: transparent !important;
    background-size: 100%;  
    border: none !important;
    width:30px;
    height:30px;
    margin-top: 8px;
}

.add-btn:hover {
    background-image: url('/img/addidea.png') !important;
    background-color: transparent !important;
    background-size: 100%;  
    border: none !important;
    width:30px;
    height:30px;
    margin-top: 8px;
}

.notify-btn{
    background-image: url('/img/bell.png') !important;
    background-color: transparent !important;
    border: none !important;
    background-size: 100%;  
    width:10px !important;
    height:10px !important;
    margin-top: 8px;
}

.welcome-name-btn{
    background-color: transparent !important;
    border: none !important;
    background-size: 100%;  
}

.notify-count{
    background-color: red !important;
}

#notifications-menu {
    height: 300px;
    overflow: auto;
    width: 450px;
    border-radius:10px;
    padding-top:0;
}

.border-line{
	border-left-width: 1px; 
	border-bottom-color: white; 
	border-left-style: solid; 
}