#UserLoginForm {
    max-width: 360px;
    margin: 120px auto 40px auto;
}

#UserLoginForm .form-group {
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
  font-size: 16px;
  height: auto;
  width:100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0px;
  display: inline-block;
}

#UserLoginForm .form-control {
    -moz-box-sizing: border-box;
    font-size: 16px;
    height: auto;
    position: relative;
}

#UserLoginForm #UserUsername {
  height: 40px;
  display: inline-block;
}

#UserLoginForm #UserPassword {
  height: 40px;
}

#UserLoginForm .loginheader {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
}

#UserLoginForm .forgotpassword {
    text-align: right;
    margin-top: 10px;
}

.btn-login{
  padding: 0px;
  margin-top: 10px;
  height: 35px;
  display: block;
  width: 100%;
  box-shadow: 0 0 0 1px #46A294, 0 2px 2px #808389;
  color: #FFFFFF;
  font-size: 1.5em;
  background-color: #5E869F;
}

.btn-login:hover{
    color: #98B2C3;
}

body {
  background-color: #B7C9D3;
}

.loginheader h3 {
  font-style:italic;
}

.reset-well{
  width:600px;
  margin-top:120px;
  margin-left: 80%;
}
