.search-well {
    margin-top: 10px;
    padding: 10px 45px 10px 45px;
}

.filter-well {
    margin-top: 10px;
    padding-top: 10px;
}

#export-help {
    margin-left:10px;
    display:none;
}
#btn-save-csv {
    display:none;
    margin-top:10px;
}
#btn-cancel-csv {
    display:none;
}

#btn-delete-confirm {
    display:none;
    margin-top:10px;
}
#btn-cancel-delete {
    display:none;
}

#Grid .mix{
    opacity: 0;
    display: none;
}

.filter-controls{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
}

.sort-controls{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
}

.category-row{
    margin-bottom: 0px;
    margin-top: 0px;
}

.float-right {
    float: right;
    margin-right: 10px;
}

.form-group {
    margin-left: 10px;
    margin-right: 10px;
}