#ideacontainer {
    width: 100%;
    padding: 10px 0;
    margin: 0 auto;
    overflow: auto;
}

.ideacontainer {
    height: 250px;
}

.ideacontainer2 {
    height: 700px;
}

#ideacontainer .ideablock {
    height: 210px;
    overflow-x: hidden;
    text-align: left;
    white-space: inherit;
    width: 190px;
    word-wrap: break-word;
    margin-right: 5px;
    background-image: url('/img/idea.png');
    background-size: 190px;
    margin-bottom: 10px;
    border: none;


    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

#ideacontainer .ideablock:hover {
    -webkit-transform: scale(1.05) translateZ(0);
    -moz-transform: scale(1.05) translateZ(0);
    -o-transform: scale(1.05) translateZ(0);
    transform: scale(1.05) translateZ(0);
    z-index:1;
}

.title-heading {
    font-size: 18px;
    width: 130px;
    line-height: 1.1;
    margin-left: 10px;
    margin-bottom: 5px;
}

.description-heading {
    font-size: 14px;
    width: 160px;
    line-height: 1.1;
    margin-left: 10px;
    margin-bottom: 5px;
}

.status-heading {
    font-size: 18px;
    width: 160px;
    line-height: 1.1;
    margin-left: 10px;
    margin-bottom: 5px;
}

.owner-heading {
    font-size: 18px;
    width: 160px;
    line-height: 1.1;
    margin-left: 10px;
    margin-top: 20px;
}

#ideacontainer .idea-list-innerwrap {
    float: left;
    margin-right: -30000px;
    padding-left: 20px;
}

.btn-share {
    width:100%;
    margin-top:20px;
}

#ajax-modal .sharing-autocomplete {
    width:100%;
}

.idea-action-btn {
    width:60px;
    height:60px;
    background-size: 100%;
    background-color: transparent;
    background-size: 100%;
    border:none;
    padding: 0;
}

.trackbtn {
    background-image: url('/img/tracked.png');
}

.untrackbtn {
    background-image: url('/img/untracked.png');
}

<<<<<<< HEAD
#Grid .mix{
    opacity: 0;
    display: none;
}

.inline-block {
    display:inline-block;
    width:49%;
=======
.add-btn {
    background-image: url('/img/addidea.png')  !important;
    background-color: transparent !important;
    background-size: 100%;  
    border: none !important;
    width:30px;
    height:30px;
    margin-top: 8px;
}

.add-btn:hover {
    background-image: url('/img/addideainverse.png') !important;
    background-color: transparent !important;
    background-size: 100%;  
    border: none !important;
    width:30px;
    height:30px;
    margin-top: 8px;
}

.admin-btn {
    background-color: transparent !important;
    border: none !important;
}

.admin-btn:hover {
    -webkit-transform: scale(1.05) translateZ(0);
    -moz-transform: scale(1.05) translateZ(0);
    -o-transform: scale(1.05) translateZ(0);
    transform: scale(1.05) translateZ(0);
    z-index:1;
}

.notify-btn{
    background-image: url('/img/bell.png') !important;
    background-color: transparent !important;
    border: none !important;
    background-size: 100%;  
    width:10px !important;
    height:10px !important;
    margin-top: 8px;
}

.notify-count{
    background-color: red !important;
}

.confirmWidth {
    width: 385px;
    margin: 0 auto;
}

.active {
    color: green;
    margin-bottom: 0;
}

#export-help {
    margin-left:10px;
    display:none;
}
#btn-save-csv {
    display:none;
    margin-top:10px;
}
#btn-cancel-csv {
    display:none;
}

#btn-delete-confirm {
    display:none;
    margin-top:10px;
}
#btn-cancel-delete {
    display:none;
}

