.confirmWidth {
    width: 385px;
    margin: 0 auto;
    margin-bottom: 0;
}

h1 {
    font-family:"Verdana", Times, serif;
    color: #002145;
    font-size: 25px;
    font-weight:bold;
    margin: 5px;
}

h5 {
    font-family:"Verdana", Times, serif;
    color: #6F6F6F;
    font-size: 14px;
    font-weight:bold;
    margin: 5px;
}

.empty-list{
    margin-top:15px;
    padding-top:80px;
}

.well-top-margin {
    margin-top: 15px;
}

.nav-font{
    font-size: 16px;
    font-weight:bold;
    color:white !important;
}

.inline-block{
    display: inline-block;
}

.padding-top-5{
    padding-top:5px;
}

.padding-top-10{
    padding-top:10px;
}

.padding-left-10{
    padding-left: 10px;
}

.padding-left-30{
    padding-left: 30px;
}

.loading-img {
    background-image: url('/img/ajax-loader.gif')  !important;
    background-color: transparent !important;
    background-size: 100%;  
    border: none !important;
    width:30px;
    height:30px;
}

#edit-idea-form fieldset{
    margin-top: 10px;
}