.users-well {
    margin-top : 20px;
}

.admin-btn {
    background-color: transparent !important;
    border: none !important;
}

.admin-btn:hover {
    -webkit-transform: scale(1.05) translateZ(0);
    -moz-transform: scale(1.05) translateZ(0);
    -o-transform: scale(1.05) translateZ(0);
    transform: scale(1.05) translateZ(0);
    z-index:1;
}